form {
    display: flex;
    background-color: aqua;
    flex-flow: column nowrap;
    align-items: center;
    border: 1px solid red;
    margin: 0 auto;
    width: 50vw;
}

label {
    border: 1px solid blue;
    margin: 0.5rem auto;
}

p {
    margin: 0;
    /* border: 1px solid blue; */
    text-align: center;
}

input {
    margin: 0;

}