<h2
  mat-dialog-title
  i18n="'Add board' header in add board modal |
  @@boardAdd_AddBoardTitle"
>
  Add board
</h2>

<form
  [formGroup]="newBoardForm"
>
  <mat-dialog-content
    class="modal-form"
  >
    <mat-form-field
      appearance="outline"
    >
      <mat-label
        i18n="'Board title' field in add board modal |
        @@boardAdd_BoardTitleInput"
      >
        Board title
      </mat-label>
      <input
        matInput
        formControlName="title">
    </mat-form-field>

    <mat-form-field
      appearance="outline"
    >
      <mat-label
        i18n="'Board description' field in add board modal |
        @@boardAdd_BoardDescriptionInput"
      >
        Board description
      </mat-label>

      <input
        matInput
        formControlName="description">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      mat-raised-button
      type="submit"
      (click)="newBoard()"
      i18n="'Add' button in add board modal |
      @@boardAdd_AddButton"
    >
      Add
    </button>

    <button
      mat-raised-button
      (click)="close()"
      i18n="'Cancel' button in add board modal |
      @@boardAdd_CancelButton"
    >
      Cancel
    </button>
  </mat-dialog-actions>
</form>
