<header>
  <div>
    <a  
      [routerLink]="['']" 
      i18n="'Home' button in navigation bar | 
      @@header_HomeButton"
      >Home</a>
  </div>
  <div>
    <a  
      [routerLink]="['kanban']" 
      i18n="'Kanban' button in navigation bar | 
      @@header_KanbanButton"
      *ngIf="isLoggedIn" 
      >Kanban</a>
  </div>
  <div>
    <a  
      [routerLink]="['signin']" 
      i18n="'SignIn' button in navigation bar | 
      @@header_SignInButton"
      *ngIf="!isLoggedIn" 
      >Sign In</a>
  </div>
  <div>
    <a  
      [routerLink]="['signup']" 
      i18n="'SignUp' button in navigation bar | 
      @@header_SignUpButton"
      *ngIf="!isLoggedIn" 
      >Sign Up</a>
  </div>
  <div>
    <a  
      [routerLink]="['profile']" 
      i18n="'Edit profile' button in navigation bar | 
      @@header_EditProfileButton"
      *ngIf="isLoggedIn" 
      >Edit profile</a>
  </div>
  <div>
    <button 
      (click)="logOut()" 
      i18n="'Log Out' button in navigation bar | 
      @@header_LogOutButton"
      *ngIf="isLoggedIn" 
      >Log Out</button>
  </div>
</header>
