<header>
  <div class="header-left">
    <a
      class="header-button"
      mat-icon-button
      [routerLink]="['']"
      *ngIf="!isBoardIn()"
      i18n="'Home' button in navigation bar |
      @@header_HomeButton"
    >
      <mat-icon>home</mat-icon>
    </a>

    <a
      class="header-button"
      mat-icon-button
      [routerLink]="['kanban']"
      *ngIf="isBoardIn()"
      i18n="'Back' button in navigation bar |
      @@header_BackButton"
    >
      <mat-icon>arrow_back</mat-icon>
    </a>

    <a
      class="header-button"
      mat-icon-button
      [routerLink]="['kanban']"
      i18n="'Kanban' button in navigation bar |
      @@header_KanbanButton"
      *ngIf="isLoggedIn && !isKanbanIn() && !isBoardIn()"
    >
      <mat-icon>dashboard</mat-icon>
    </a>

    <button
      class="header-button"
      mat-icon-button
      title="Add board"
      (click)="addBoardModal()"
      *ngIf="isKanbanIn()"
      i18n-title="'Add board' button in header |
      @@header_AddBoardButton"
    >
      <mat-icon>add_box</mat-icon>
    </button>

  </div>

  <div class="header-center">
    {{getBoardName()}}
  </div>

  <div class="header-right">
    <a
      class="header-button"
      mat-icon-button
      [routerLink]="['signin']"
      i18n="'SignIn' button in navigation bar |
      @@header_SignInButton"
      *ngIf="!isLoggedIn"
    >
      <mat-icon>login</mat-icon>
    </a>

    <a
      class="header-button"
      mat-icon-button
      [routerLink]="['signup']"
      i18n="'SignUp' button in navigation bar |
      @@header_SignUpButton"
      *ngIf="!isLoggedIn"
    >
      <mat-icon>person_add_alt_1</mat-icon>
    </a>

    <a
      class="header-button"
      mat-icon-button
      [routerLink]="['profile']"
      i18n="'Edit profile' button in navigation bar |
      @@header_EditProfileButton"
      *ngIf="isLoggedIn"
    >
      <mat-icon>account_circle</mat-icon>
    </a>

    <button
      class="header-button"
      mat-icon-button
      (click)="logOut()"
      i18n="'Log Out' button in navigation bar |
      @@header_LogOutButton"
      *ngIf="isLoggedIn"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</header>
