<div class="task_info">
  {{taskResponse.id}}<br>
  <b>Order: {{taskResponse.order}}</b>
</div>
<div
  (click)="updateTaskModal(taskResponse)">
  <p>
    
    Task: {{taskResponse.title}}<br>
    
  </p>
  <p>
    Task description:<br>
    {{taskResponse.description}}
  </p>
  <p>{{userResponse?.name}}</p>
</div>
<div>
  <button
  mat-icon-button
    class="delete_task"
    (click)="deleteTaskModal()"
    i18n="'Delete task' button in column |
  @@column_DeleteTaskButton"
  ><mat-icon>delete_outline</mat-icon>
  </button>

</div>

