.mainTask {
  width: 100%;
  border: 1px dotted black;
  margin: 2px;
  background-color: aliceblue;
}

.task_info {
  border: 1px solid black;
  font-size: 10px;
}

.delete_task {
  position: absolute;
  color: #ccc;
  top: 10px;
  right: 0px;
}

.delete_task:hover {
  color: black;
}