<h2 mat-dialog-title>Новая задача</h2>

<mat-dialog-content [formGroup]="newTaskForm">
  <mat-form-field>
    <input  matInput
            placeholder="Название задачи"
            formControlName="title">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Состояние задачи</mat-label>
    <mat-select formControlName="done">
      <mat-option [value]="taskCondition.true">True</mat-option>
      <mat-option [value]="taskCondition.false">False</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input  matInput
            placeholder="Порядок задачи"
            formControlName="order">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input  matInput
            placeholder="Описание задачи"
            formControlName="description">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Ответственный</mat-label>
    <mat-select formControlName="userId">
      <mat-option *ngFor="let user of users" [value]="user.id">{{user.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Отмена</button>
  <button mat-raised-button (click)="newTask()">Создать</button>
</mat-dialog-actions>