<h2
  mat-dialog-title
  i18n="'Add task' header in add task modal |
  @@taskAdd_AddTaskTitle"
>
  Add task
</h2>
<form
  [formGroup]="newTaskForm"
>
  <mat-dialog-content
    class="modal-form"
  >
    <mat-form-field
      appearance="outline"
    >
      <mat-label
        i18n="'Task title' field in add task modal |
        @@taskAdd_TaskTitleInput"
      >
        Board title
      </mat-label>
      <input
        matInput
        formControlName="title">
    </mat-form-field>

    <mat-form-field
      appearance="outline"
    >
      <mat-label
        i18n="'Task condition' select in add task modal |
        @@taskAdd_TaskConsditionSelect"
      >
        Task condition
      </mat-label>
      <mat-select formControlName="done">
        <mat-option [value]="taskCondition.true">Complete</mat-option>
        <mat-option [value]="taskCondition.false">In Work</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
    >
      <mat-label
        i18n="'Task description' field in add task modal |
        @@taskAdd_TaskDescriptionInput"
      >
        Task description
      </mat-label>
      <input
        matInput
        formControlName="description">
    </mat-form-field>

    <mat-form-field
      appearance="outline"
    >
      <mat-label
        i18n="'Task executor' select in add task modal |
        @@taskAdd_TaskExecutorSelect"
      >
        Executor
      </mat-label>
      <mat-select formControlName="userId">
        <mat-option
          *ngFor="let user of usersList"
          [value]="user.id"
        >
          {{user.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      mat-raised-button
      type="submit"
      (click)="newTask()"
      i18n="'Add' button in add task modal |
      @@taskAdd_AddButton"
    >
      Add
    </button>

    <button
      mat-raised-button
      (click)="close()"
      i18n="'Cancel' button in add task modal |
      @@taskAdd_CancelButton"
    >
      Cancel
    </button>
  </mat-dialog-actions>
</form>
