<div>
  Board: {{boardResponse.title}}<br>
  Description: {{boardResponse.description}}<br>
  <button (click)="newColumnModal()">ADD COLUMN</button>
  <div *ngFor="let columnResponse of columnsResponse">
    <app-column
      [columnResponse]="columnResponse"
      [boardResponse]="boardResponse"></app-column>
    <button (click)="updateColumnModal(columnResponse.id, columnResponse)">EDIT COLUMN</button>
    <button (click)="deleteColumnModal(columnResponse.id)">DELETE COLUMN</button>
  </div>
</div>
