<h2 mat-dialog-title>Редактировать колонку</h2>

<mat-dialog-content [formGroup]="updateColumnForm">
  <mat-form-field>
    <mat-label>Название колонки</mat-label>
    <input  matInput
            formControlName="title">
  </mat-form-field>
  <br>
  <mat-form-field>
  <mat-label>Порядок колонки</mat-label>
  <input  matInput
          formControlName="order">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="close()">Отмена</button>
  <button (click)="updateColumn()">Сохранить</button>
</mat-dialog-actions>