.board {
    /* width: 90%; */
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 5px 10px;
    border: 1px solid #ff0000;
    border-radius: 10px;
    background-color: #f5dede;
}

.board-link {
    height: 2.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    padding: 0 10px;
    color: black;
}

.delete_board {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fbff00;
}

.delete_board:hover {
    color: #2600ff;
}