<h2
  mat-dialog-title
  i18n="'Edit board' header in edit board modal |
  @@boardUpdate_EditBoardTitle"
>
  Edit board
</h2>

<form
  [formGroup]="updateBoardForm"
>
  <mat-dialog-content
    class="modal-form"
  >
    <mat-form-field
      appearance="outline"
    >
      <mat-label
        i18n="'Board title' field name in edit board modal |
        @@boardUpdate_BoardTitleInput"
      >
        Board title
      </mat-label>

      <input
        matInput
        formControlName="title">
    </mat-form-field>

    <mat-form-field
      appearance="outline"
    >
      <mat-label
        i18n="'Board description' field name in edit board modal |
        @@boardUpdate_BoardDescriptionInput"
      >
        Board description
      </mat-label>
      <input
        matInput
        formControlName="description">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      mat-raised-button
      type="submit"
      (click)="updateBoard()"
      i18n="'Save' button in edit board modal |
      @@boardUpdate_SaveButton"
    >
      Save
    </button>

    <button
      mat-raised-button
      (click)="close()"
      i18n="'Cancel' button in edit board modal |
      @@boardUpdate_CancelButton"
    >
      Cancel
    </button>
  </mat-dialog-actions>
</form>
