<form [formGroup]="authorizationForm" (submit)="signIn()">
  <label>
    <p
    i18n="'Login' field name in authorization | 
    @@authorization_LoginInput"
    >Login:</p>
    <input formControlName="login">
  </label>
  <label>
    <p
    i18n="'Password' field name in authorization | 
    @@authorization_PasswordInput"
    >Password:</p>
    <input formControlName="password">
  </label>
  <p>
    <button 
    type="submit" 
    i18n="'SignIn' button in authorization | 
    @@authorization_SignInButton"
    >Sign In</button>
  </p>
  <div>
    Code: {{authorizationStatus.errorCode}}<br>
    Text: {{authorizationStatus.errorText}}<br>
    Status: {{authorizationStatus.isSuccessful.toString()}}
  </div>
</form>


