<div
  class="user-form-container"
>
  <form
    class="user-form"
    [formGroup]="authorizationForm"
    (submit)="signIn()"
  >
    <mat-form-field
      appearance="outline"
    >
      <mat-label
        i18n="'E-mail' field name in authorization |
        @@authorization_LoginInput"
      >
        E-mail
      </mat-label>

      <input
        matInput
        formControlName="login">
    </mat-form-field>

    <mat-form-field
      appearance="outline"
    >
      <mat-label
        i18n="'Password' field name in authorization |
        @@authorization_PasswordInput"
      >
        Password
      </mat-label>

      <input
        matInput
        [type]="isHidePassword ? 'password' : 'text'"
        formControlName="password">

      <mat-icon
        matSuffix
        (click)="isHidePassword = !isHidePassword"
      >
        {{isHidePassword ? 'visibility' : 'visibility_off'}}
      </mat-icon>
    </mat-form-field>

    <button
      mat-raised-button
      type="submit"
      i18n="'SignIn' button in authorization |
      @@authorization_SignInButton"
    >
      Sign In
    </button>

    <!-- <div class="error-form">
      Code: {{authorizationStatus.errorCode}}<br>
      Text: {{authorizationStatus.errorText}}<br>
      Status: {{authorizationStatus.isSuccessful.toString()}}
    </div> -->
  </form>
</div>
