<button
  class="add-column-button"
  mat-icon-button
  title="Add column"
  (click)="addColumnModal()"
  i18n-title="'Add column' button in board |
  @@board_AddColumnButton"
>
  <mat-icon>addchart</mat-icon>
</button>

<div
  class="column-container"
  cdkDropList
  cdkDropListOrientation="horizontal"
  [cdkDropListData]="columnsArray"
  (cdkDropListDropped)="dropColumn($event)"
>
  <div
    class="column-list"
    cdkDropListGroup
  >
    <div
      class="column-box"
      *ngFor="let column of columnsArray"
      cdkDrag
    >
      <div
        class="column-handle-button"
        cdkDragHandle
      >
        <mat-icon>drag_handle</mat-icon>
      </div>

      <app-column
        class="column"
        [board]="board"
        [column]="column"
        [columnsArray]="columnsArray"
      ></app-column>
    </div>
  </div>
</div>
