.column-list {
  max-width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: white;
  border-radius: 4px;
  overflow-x: auto;
}

.column-box {
  border-radius: 5px;
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  font-size: 14px;
}

.column {
  width: 300px;
  min-height: 300px;
  padding-top: 40px;
  border: 2px solid yellow;
  border-radius: 15px;
}

.column-handle {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ccc;
  /* width: 20px; */
  /* height: 20px; */
}

.column-handle:hover {
  color: black;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.column-box:last-child {
  border: none;
}

.column-list.cdk-drop-list-dragging .column-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.add_column {
  color: #ccc;
}

.add_column:hover {
  color: black;
}

.column-container {
  display: flex;
  justify-content: center;
}