<h2 mat-dialog-title>Редактировать задачу</h2>

<mat-dialog-content [formGroup]="updateTaskForm">
  <mat-form-field>
    <mat-label>Название задачи</mat-label>
    <input matInput
           placeholder="Название задачи"
           formControlName="title">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Состояние задачи</mat-label>
    <mat-select formControlName="done">
      <mat-option [value]="taskCondition.true">True</mat-option>
      <mat-option [value]="taskCondition.false">False</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Описание задачи</mat-label>
    <input matInput
           placeholder="Описание задачи"
           formControlName="description">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Ответственный</mat-label>
    <mat-select formControlName="userId">
      <mat-option *ngFor="let user of usersResponse" [value]="user.id">{{user.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Отмена</button>
  <button mat-raised-button (click)="updateTask()">Сохранить</button>
</mat-dialog-actions>
