<div class="column_info">
  Column:<br>
  {{columnResponse.id}}<br>
  <b>Order: {{columnResponse.order}}</b>
</div>
<div class="mainColumn">
  <form [formGroup]="editColumnTitleForm">
    <input
      class="edit_column_title"
      formControlName="title"
      *ngIf="!getEditColumnCondition()"
    >
    <button
      class="edit_column_title_button"
      mat-icon-button
      (click)="changeEditColumnCondition(); updateColumnTitle();"
      *ngIf="!getEditColumnCondition()"
    ><mat-icon>check</mat-icon>
    </button>
    <button
      class="edit_column_title_button"
      mat-icon-button
      (click)="changeEditColumnCondition()"
      *ngIf="!getEditColumnCondition()"
    ><mat-icon>close</mat-icon>
    </button>
    <button
      class="column_title"
      (click)="changeEditColumnCondition(); editColumnTitle();"
      *ngIf="getEditColumnCondition()"
    >{{columnResponse.title}}</button>
  </form>
  <button
    mat-icon-button
    class="delete_column"
    (click)="deleteColumnModal()"
    i18n="'Delete column' button in board |
    @@board_DeleteColumnButton"
  ><mat-icon>delete_outline</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="addTaskModal()"
    title="Add task"
    i18n-title="'Add task' button in column |
    @@column_AddTaskButton"
    ><mat-icon>post_add</mat-icon>
  </button>
</div>
<div>
  <div
    cdkDropList
    [cdkDropListData]="taskResponseArray"
    (cdkDropListDropped)="dropTask($event)"
    class="task-list"
  >
    <div
      *ngFor="let taskResponse of taskResponseArray"
      cdkDrag
      class="task-box"
    >
      <app-task
        [boardResponse]="boardResponse"
        [columnResponse]="columnResponse"
        [taskResponseArray]="taskResponseArray"
        [taskResponse]="taskResponse"
      ></app-task>
    </div>
  </div>
</div>
