<div class="mainColumn">
  <form [formGroup]="editColumnTitleForm">
    <input
      formControlName="title"
      *ngIf="!getEditColumnCondition()"
    >
    <button
      (click)="changeEditColumnCondition(); updateColumnTitle();"
      *ngIf="!getEditColumnCondition()"
    >V
    </button>
    <button
      (click)="changeEditColumnCondition()"
      *ngIf="!getEditColumnCondition()"
    >X
    </button>
    <button
      (click)="changeEditColumnCondition(); editColumnTitle();"
      *ngIf="getEditColumnCondition()"
    >{{columnResponse.title}}</button>
  </form>
  <button
    mat-icon-button
    class="delete_column"
    (click)="deleteColumnModal()"
    i18n="'Delete column' button in board |
    @@board_DeleteColumnButton"
  ><mat-icon>delete_outline</mat-icon>
  </button>
  <button
    (click)="addTaskModal()"
    i18n="'Add task' button in column |
    @@column_AddTaskButton"
  >Add task
  </button>
  <div class="column_info">
    Column:<br>
    {{columnResponse.id}}<br>
    <b>Order: {{columnResponse.order}}</b>
  </div>
</div>
<div>
  <div
    cdkDropList
    [cdkDropListData]="taskResponseArray"
    (cdkDropListDropped)="dropTask($event)"
    class="task-list"
  >
    <div
      *ngFor="let taskResponse of taskResponseArray"
      cdkDrag
      class="task-box"
    >
      <app-task
        [boardResponse]="boardResponse"
        [columnResponse]="columnResponse"
        [taskResponseArray]="taskResponseArray"
        [taskResponse]="taskResponse"
      ></app-task>
    </div>
  </div>
</div>
