<div
  class="column-header"
>
  <mat-sidenav-container
    class="sidenav-container-column-title"
  >
    <mat-sidenav
      #column_title
      class="opened-sidenav-column-title"
      (openedStart)="editColumnTitle()"
    >
      <form
        class="edit-column-title-form"
        [formGroup]="editColumnTitleForm"
      >
        <input
          class="edit-column-title-form-input"
          formControlName="title"
        />

        <button
          class="edit-column-title-form-button"
          mat-icon-button
          (click)="column_title.toggle(); updateColumnTitle()"
        >
          <mat-icon>check</mat-icon>
        </button>

        <button
          class="edit-column-title-form-button"
          mat-icon-button
          (click)="column_title.toggle()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </form>
    </mat-sidenav>

    <mat-sidenav-content
      class="sidenav-column-title"
    >
      <button
        class="edit-column-title-button"
        (click)="column_title.toggle()"
      >
        {{column.title}}
      </button>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <button
    class="delete-column-button"
    mat-icon-button
    title="Delete column"
    (click)="deleteColumnModal()"
    i18n-title="'Delete column' button in board |
    @@board_DeleteColumnButton"
  >
    <mat-icon>delete_outline</mat-icon>
  </button>
</div>

<button
  class="add-task-button"
  mat-icon-button
  (click)="addTaskModal()"
  title="Add task"
  i18n-title="'Add task' button in column |
  @@column_AddTaskButton"
>
  <mat-icon>post_add</mat-icon>
</button>

<div
  class="task-list"
  cdkDropList
  [cdkDropListData]="tasksArray"
  (cdkDropListDropped)="dropTask($event)"
>
  <div
    class="task-box"
    *ngFor="let task of tasksArray"
    cdkDrag
  >
    <div
      class="task-handle-button"
      cdkDragHandle
    >
      <mat-icon>drag_handle</mat-icon>
    </div>

    <app-task
      class="task"
      [board]="board"
      [column]="column"
      [tasksArray]="tasksArray"
      [task]="task"
    >
    </app-task>
  </div>
</div>
