/* .mainColumn {
  border: 1px solid red;
} */

/* .task-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  border: 5px solid blue;
} */

.task-list {
  /* border: solid 1px blue; */
  height: 700px;
  background: white;
  /* border-radius: 4px; */
  overflow-y: scroll;
  display: block;
}

.task-box {
  width: 250px;
  min-height: 50px;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-box:last-child {
  border: none;
}

.task-list.cdk-drop-list-dragging .task-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.column_info {
  border: 1px solid black;
  font-size: 10px;
}

.delete_column {
  position: absolute;
  color: #ccc;
  top: 0px;
  right: 0px;
}

.delete_column:hover {
  color: black;
}

.add_task {
  color: #ccc;
}

.add_task:hover {
  color: black;
}

.column_title {
  width: 100%;
  height: 2rem;
  border: none;
  outline: none;
  background: rgb(212, 212, 245);
  margin: 0;
  padding: 0;
}

.edit_column_title {
  width: 70%;
  border: 1px solid red;
  height: 2rem;
  margin: 0;
  padding: 0;
}

.edit_column_title_button {
  width: 10%;
  height: 2rem;
  margin: 0;
  padding: 0;
}

.task-handle {
  position: absolute;
  top: 20px;
  left: 10px;
  color: #ccc;
  /* width: 20px; */
  /* height: 20px; */
}

.task-handle:hover {
  color: black;
}

.task {
  width: 100%;
  border: 2px solid red;
  margin-top: 10px;
  padding-top: 40px;
}