.signup_input {
    width: 250px;
    margin: 0;
}

.signup_form {
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 1px solid red;
    background-color: aqua;
    padding: 10px 0;
    margin: 0 auto;
}