<form [formGroup]="registrationForm" (submit)="signUp()">
  <label>
    <p
      i18n="'Name' field name in registration | 
      @@registration_NameInput"
    >Name:</p>
    <input formControlName="name">
  </label>
  <label>
    <p
      i18n="'Login' field name in registration | 
      @@registration_LoginInput"
    >Login:</p>
    <input formControlName="login">
  </label>
  <label>
    <p
      i18n="'Password' field name in registration | 
      @@registration_PasswordInput"
    >Password:</p>
    <input formControlName="password">
  </label>
  <p>
    <button 
      type="submit" 
      i18n="'SignUp' button in registration | 
      @@registration_SignUpButton"
    >Sign Up</button>
  </p>
</form>
