
<form 
  class="signin_form"
  [formGroup]="registrationForm" 
  (submit)="signUp()"
  ><mat-form-field 
  class="signin_input"
  appearance="fill"> 
    <mat-label
      i18n="'Name' field name in registration |
      @@registration_NameInput"
    >Name</mat-label>
    <input 
    matInput
    formControlName="name">
  </mat-form-field>

  <mat-form-field 
  class="signin_input"
  appearance="fill">
    <mat-label
      i18n="'Login' field name in registration |
      @@registration_LoginInput"
    >E-mail</mat-label>
    <input
    matInput
    formControlName="login">
    </mat-form-field>

  <mat-form-field 
  class="signin_input"
  appearance="fill">
    <mat-label
      i18n="'Password' field name in registration |
      @@registration_PasswordInput"
    >Password</mat-label>
    <input 
    matInput
    [type]="isHidePassword ? 'password' : 'text'"
    formControlName="password">
    <button
      mat-icon-button
      matSuffix
      (click)="isHidePassword = !isHidePassword"
      [attr.aria-label]="'Hide password'" 
      [attr.aria-pressed]="isHidePassword"
      >
      <mat-icon>
        {{isHidePassword ? 'visibility' : 'visibility_off'}}
      </mat-icon>
    </button>
   </mat-form-field>

     <button
     mat-raised-button
     type="submit"
     i18n="'SignUp' button in registration |
     @@registration_SignUpButton"
     >Sign Up
    </button>
  </form>